name: tz_datetime_android_example
description: "Demonstrates how to use the tz_datetime plugin."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

resolution: workspace

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  tz_datetime_android: any

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0
