name: tz_datetime_web
description: "A new Flutter plugin project."
version: 1.0.0

resolution: workspace

environment:
  sdk: ^3.9.0
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  web: ^1.0.0

  tz_datetime_platform_interface: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      web:
        pluginClass: TzDatetimeWeb
        fileName: tz_datetime_web.dart
